/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* es para ajustar el NAVBAR */
/* puto el que lo leaa*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(15, 23, 42, 0.95);
  position: sticky;
  top: 0;
}

/*tamaño y color del logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
}

/*tamaño de separacion de ul*/
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

/*color de las letras de la lista*/
nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
/*al pasar el mause cambia el color azul de las letras de list*/
nav ul li a:hover {
  color: #38bdf8;
}

/* SECCIONES */
section {
  padding: 100px 50px;
  text-align: center;
}

/* INICIO */
#inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #0f172a, #1e293b);
}

#inicio h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#inicio p {
  color: #cbd5f5;
}

/* OTRAS SECCIONES */
#servicios {
  background: #1e293b;
}

#nosotros {
  background: #0f172a;
}

#contacto {
  background: #1e293b;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}